// Import your layouts CSS files here.
// Examples:
// @import "dashboard";
// @import "profile";
// @import "map";
body {
  background-color: white;
  text-align: center;
  h1 {
    color: #333333;
    margin-bottom: 45px;
    font-size: 30px;
  }
}
