.card {
  display: flex;
  height: 175px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  position: relative;
  background-image: url(https://images.unsplash.com/photo-1504310578167-435ac09e69f3?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=b710c3d382a92bac1a4c3aa674572a6b&auto=format&fit=crop&w=668&q=80);
  text-align: center;
  margin-bottom: 20px;
}

.card h2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  color: #fffddb !important;
}
.card h2 :hover {
  text-decoration: none;
}

