.card {
  display: flex;
  height: 175px;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-size: cover !important;
  background-position: center;
  color: white;
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2));
  position: relative;
  text-align: center;
  margin-bottom: 20px;
}

.card h2 {
  display: flex;
  justify-content: space-between;
  align-items: center;
  text-align: center;
  color: #fffddb !important;
}
.card h2 :hover {
  text-decoration: none;
}

