.card {
  position: relative;
  text-shadow: 0 1px 3px rgba(0,0,0,0.6);
  background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2));
  text-align: center;
  margin: 30px;
}

.card h2 {
  position: absolute;
  text-align: center;
  color: #fffddb !important;
  bottom: 100px;
  left: 50px;
  font-size: 20px;
  justify-content: center;
}
.card h2 :hover {
  text-decoration: none;
}

